.card{
  border: .5px solid hsl(0, 2%, 37%);
  border-radius: 20px;
  box-shadow: 4px 4px 4px hsl(0, 2%, 22%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.cardImage{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cardTitle{
  font-size: medium;
  font-family: 'Trebuchet MS';
  margin: 0;
  color: hsl(240, 76%, 75%);
}

.cardText{
  font-size: medium;
  font-family: 'Trebuchet MS';
  margin: 5px;
  color: hsl(27, 82%, 67%);
}